/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  image-rendering: pixelated;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-size: 0;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* CSS STYLES */
/* form */
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #ccc;
  border-radius: 2mm;
  border: 1px solid black;
  box-shadow: 0 0 25px black;;
}

#login-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-form label {
  font-size: 1.5rem;
  margin-right: 10px;
}

#login-form #login-form-input {
  padding: 0.5rem;
  border: 1px solid black;
  height: 2.4rem;
}

#login-form #login-form-btn {
  border: none;
  background: none;
  padding: 0.5rem 2rem;
  margin-left: 15px;
  cursor: pointer;
}

/* game container - full display */
.game-container {
  display: flex;
  flex-direction: row;
}
/* player stats - lefthand side */
.game-container .player-stats .box {
  padding: 1rem;
}

.game-container .player-stats {
  display: none;
  flex-direction: column;
  width: 192px;
  background: rgb(46, 46, 46);
}

.game-container .player-stats .main-stats #player-name {
  font-size: 1.6rem;
  padding-bottom: .6rem;
}

.game-container .player-stats .main-stats li,
.game-container .player-stats .skills-stats li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.8rem;
  color: #fff;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    -1px -1px 0 black;
}

.game-container #item-info {
  padding: 1rem;
  width: 192px;
}

/* interface - righthand side */
#item-info {
  color: #fff;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    -1px -1px 0 black;
}

/*
.game-container .interface-container {
  display: flex;
  visibility: hidden;
  width: 192px;
  height: 704px;
  background: #464646;
}

.interface-container .inventory-container {
  display: flex;
  flex-direction: column;
}

.interface-container .inventory-container #equipment-slots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.interface-container .player-inventory-container #equipment-slots .equipment-slot {
  width: 32px;
  height: 32px;
  border: 1px solid black;
} */