/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  image-rendering: pixelated;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-size: 0;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* CSS Styles */
canvas {
  /* border: 1px solid black; */
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #ccc;
  border-radius: 2mm;
  border: 1px solid black;
  box-shadow: 0 0 25px black;;
}

#login-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-form label {
  font-size: 1.5rem;
  margin-right: 10px;
}

#login-form #login-form-input {
  padding: 0.5rem;
  border: 1px solid black;
  height: 2.4rem;
}

#login-form #login-form-btn {
  border: none;
  background: none;
  padding: 0.5rem 2rem;
  margin-left: 15px;
  cursor: pointer;
}

/* .player-info-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.2rem;
}

.player-info-container .player-slots, .player-inventory {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid red;
}

.player-info-container .slot {
  text-align: center;
  border: 1px solid red;
  width: 50px;
  height: 50px;
  padding: 1rem;
}

.radar-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 1px solid red;
  width: 200px;
  height: 80%;
}
*/