* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  image-rendering: pixelated;
}

body {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #ccc;
  border-radius: 2mm;
}

#login-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-form label {
  font-size: 1.5rem;
  margin-right: 10px;
}

#login-form #login-form-input {
  padding: 0.5rem;
  border: none;
  height: 2.4rem;
  border-bottom: 1px solid #ccc;
}

#login-form #login-form-btn {
  border: none;
  background: none;
  padding: 0.5rem 2rem;
  margin-left: 15px;
  cursor: pointer;
}
/* .player-info-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.2rem;
}

.player-info-container .player-slots, .player-inventory {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid red;
}

.player-info-container .slot {
  text-align: center;
  border: 1px solid red;
  width: 50px;
  height: 50px;
  padding: 1rem;
}

.radar-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 1px solid red;
  width: 200px;
  height: 80%;
} */